body{
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	font-size: 14px;
}
.ext-fname{
	font-size: 14px;
	color: #000;
	margin-top: 5px;
}
#ext-dashhead{
	background: #f9fbfd;
}
a.ext-home i {
    background: #6861ce;
    border-radius: 100px;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
}
a.ext-search i {
    background: #e5e8ed;
    border-radius: 100px;
    color: #444;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
}